.landing-footer-container {
	background-color: $color-primary-nav;
	color: $color-white;
	height: 190px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.landing-footer {
	display: flex;
	background-color: $color-primary-nav;
	color: $color-white;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 1.6rem;
	margin: $small;
	nav {
		display: flex;
		font-weight: 500;
		font-size: 24px;
		width: 33%;
		justify-content: space-evenly;
		a {
			margin: 0.5rem;

			&:hover {
				color: $color-secondary;
			}
		}
	}

	.landing-footer-copyright {
		color: $color-white;
		font-size: 12.8571px;
	}

	.landing-footer-title {
		font-size: 2.4rem;
	}
}
