.picture-user-small {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.picture-badge-medium {

    width: 17%;
}

.picture-profile-medium {
	width: 10rem;
}

.badge-profile {
	width: 16rem;
}
