.most-recog-container {
	// border: 2px solid yellow;
	margin-top: 3rem;

	.most-recog-title-container {
		width: 38rem;
		display: flex;
		justify-content: space-between;
		margin: 2rem 0rem;
		// border: 2px solid yellow;

		p {
			width: 20rem;
			font-size: 2.4rem;
			font-weight: 300;
		}

		.limit-dropdown-container select {
			appearance: button;
			-webkit-appearance: button;
			-moz-appearance: button;
			// // background: transparent;
			// margin-right: -1rem;

			label {
				font-size: 1.8rem;
				font-weight: 300;
			}
			.dropdown-view {
				background-color: #fff;
				font-weight: 300;
				border: none;
				color: black;
				width: 8rem;
				font-size: 1.8rem;
			}
		}
	}
	// .limit-dropdown-container:after {
	// 	content: '\2228';
	// }
	li:nth-child(2n) {
		background-color: #f9f9f9;
	}
	.most-recog-individual {
		width: 35rem;
		display: flex;

		padding: 0.8rem;
		.most-rec-profile-pic {
			width: 30px;
			height: 30px;
			border-radius: 100%;
		}

		.most-rec-name-to-heart {
			width: 32rem;
			display: flex;
			justify-content: space-between;
		}

		.most-recog-name {
			width: 10rem;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-left: 2rem;
		}
		.most-recog-progress {
			// border: 2px solid pink;
			width: 25rem;
			display: flex;
			justify-content: center;
			align-items: center;

			progress {
				border-radius: 5px;
				width: 100px;
			}

			progress::-webkit-progress-bar {
				background-color: transparent;
				border-radius: 2px;
			}

			progress::-webkit-progress-value {
				background-color: $color-primary;
				border-radius: 2px;
				transition: all 0.3s ease;
			}

			progress::-moz-progress-bar {
				background-color: $color-gray-light;
			}
		}
		.most-recog-heart {
			display: flex;
			align-items: center;
			// border: 2px solid purple;
			width: 5rem;
			.heart-img {
				width: 2rem;
				height: 2rem;
				margin-top: 0.5rem;
			}
		}
	}
}
