.teams-dashboard {
	margin-left: 13rem;
	margin-right: 10rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	.employees-table {
		margin-top: 3rem;
		width: 100%;
	}

	.employee-filter-container {
		display: flex;
		align-items: center;
		margin-top: 3rem;
		border-top: 1px solid $color-gray-light;
		border-bottom: 1px solid $color-gray-light;
		padding: 10px 0 10px 0;
		width: 100%;

		button {
			margin-left: 2rem;
		}

		h3 {
			color: $color-primary-nav;
			font-size: 1.8rem;
		}

		#search {
			border-radius: 0.5rem;
			display: flex;
			align-self: flex-end;
		}
	}

	.select-add-members {
		display: flex;
		flex-direction: row;

		h3 {
			color: $color-gray-light;
			font-size: 1.4rem;
			padding: 20px 0 3px 0;
		}

		.select-all {
			margin-right: 12rem;
			border-bottom: 1px solid $color-gray-light;
		}
	}

	h1 {
		font-size: 3.6rem;
		color: $color-primary-nav;
		margin-bottom: 5rem;
	}

	h2 {
		font-size: 2.4rem;
		color: $color-primary-nav;
	}

	.teams-employee-card {
		height: 6.2rem;
		margin-bottom: 2rem;
		display: flex;
		justify-content: space-between;

		// .teams-employee-details:nth-child(2) {
		// 	// background: red;
		// }

		.teams-employee-details {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 20rem;

			.teams {
				margin-left: 20rem;
			}

			.job-title {
				max-width: 15rem;
				min-width: 15rem;
			}

			h3 {
				font-size: 1.6rem;
				color: $color-primary-nav;
			}
		}
	}

	.teams-container {
		display: flex;
		align-items: center;
	}

	.recognition-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.teams-employee {
		display: flex;
		width: 20%;
		align-items: center;
		justify-content: flex-start;

		.teams-profile-picture {
			margin-right: 2rem;
			border-radius: 50%;
			width: 40px;
			height: 40px;
		}

		h3 {
			font-size: 1.6rem;
			color: $color-primary-nav;
		}

		// Checkbox Variable
		$checkbox-width: 18px;

		// Checkboxes
		input[type='checkbox'] {
			position: absolute;
			left: -9999px;

			& + label {
				position: relative;
				display: inline-block;
				padding: 6px 10px 6px ($checkbox-width + 10);
				cursor: pointer;

				// Default State
				&:before {
					display: block;
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					margin: (-$checkbox-width/2) 0 0;
					width: $checkbox-width;
					height: $checkbox-width;
					background-image: url('https://andycrone.com/media/2015/02/app-icons.png');
					background-repeat: no-repeat;
					background-size: 72px auto;
				}
			}

			// Checked State
			&:checked + label {
				&:before {
					background-position: (-$checkbox-width) 0;
				}
			}
		}
	}
}
