.admin-dashboard {
	margin: 0 6rem;
	overflow-x: hidden;
	display: flex;
	color: $color-black;
	padding: 2rem 2rem 2rem 0;
	height: 100vh;
	flex-direction: column;
	background-color: $color-white;

	h1 {
		font-weight: 900;
		font-size: 3.6rem;
		margin-left: 3.5rem;
	}
}

.admin-title {
	color: $color-black;
	font-weight: 600;
	font-size: 2.4rem;
	margin-bottom: 2rem;
	font-weight: 900;
}

.Chart {
	min-width: 30rem;
	max-width: 100rem;
	height: 30rem;
	position: relative;
	margin-left: 4rem;
	margin-top: 3rem;
}

.doughnut-charts {
	display: flex;
	align-items: center;
}

.doughnut {
	position: relative;
	margin-top: 45px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 20vw;
	max-width: 60rem;
	.doughnut-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 10rem;
		font-size: 1.8rem;
	}
}

.doughnut-container {
	h5 {
		text-align: center;
		width: 100%;
		font-size: 1.8rem;
		margin-top: 2.5rem;
	}
}

.container-total-recog-graph {
	margin-right: 1%;
	.title-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		align-items: center;
		margin-top: 2rem;
		height: 4.2rem;

		h3 {
			font-size: 2.4rem;
		}
	}

	.participation-container {
		margin-top: 7rem;
	}
	h1 {
		font-size: 2.4rem;
		font-weight: 500;
	}
}

.container-thankful-engagement {
	h1 {
		font-size: 2.4rem;
		margin-top: 3rem;
		font-weight: 500;
	}
}
