.admin-dashboard {
	margin-left: 7rem;
	overflow: hidden;
	display: flex;
	color: $color-black;
	padding: 2rem 2rem 2rem 0;
	height: 100vh;
	flex-direction: column;
	background-color: $color-white;
}

.admin-title {
	color: $color-black;
	font-weight: 600;
	font-size: 2.4rem;
}
