.admin-dashboard {
	margin-left: 7rem;
	overflow: hidden;
	display: flex;
	color: $color-black;
	padding: 2rem 2rem 2rem 0;
	height: 100vh;
	flex-direction: column;
	background-color: $color-white;
}

.admin-title {
	color: $color-black;
	font-weight: 600;
	font-size: 2.4rem;
}

.reports {
	width: 100%;
	background-color: $color-white-dark;
	@include boxshadow();
	height: 90vh;
}

.Chart {
	height: 33vh;
	width: 50vw;
	position: relative;
	margin-left: 4rem;
	margin-top: 3rem;
}
