.landing-page {
	background-color: $color-white-dark;
	min-height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;

	.didyouknow {
		width: 95%;
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		position: relative;
		height: 400px;

		@media (min-width: 1490px) {
			flex-direction: row-reverse;
		}

		@media (max-width: 1035px) {
			flex-direction: column;
			align-items: center;
			height: auto;
		}

		> section {
			display: flex;
			flex-direction: column;
			justify-content: center;

			@media (max-width: 1035px) {
				align-items: center;
				text-align: center;
			}
			h2 {
				font-size: 4.8rem;
				font-weight: normal;
				color: $color-black;
				margin-bottom: 10px;
			}
			p {
				width: 45%;
				font-size: 2rem;
				line-height: 3.4rem;
				color: rgba(0, 13, 34, 0.7);
				margin-bottom: 10px;

				@media (max-width: 1035px) {
					width: 70%;
					margin: 30px 0;
				}
			}
		}

		> figure {
			position: absolute;
			background-image: url('../../assets/Macbook-Pro.svg');
			background-size: cover;
			right: -20vw;
			top: 50%;
			transform: translateY(-50%);
			width: 800px;
			height: 500px;

			@media (min-width: 1490px) {
				position: relative;
				width: 2160px;
				height: 560px;
				left: 0;
			}

			@media (max-width: 1035px) {
				position: relative;
				transform: none;
				top: 0;
				left: 0;
				margin-bottom: 50px;
				width: 100%;
				height: calc((95vw * 5) / 8);
				background-size: contain;
				background-repeat: no-repeat;
			}

			iframe {
				position: absolute;
				top: 31px;
				left: 82px;
				width: 660px;
				height: 414px;

				@media (min-width: 1490px) {
					top: 34px;
					left: 92px;
					width: 740px;
					height: 464px;
				}

				@media (max-width: 1035px) {
					left: 10.1%;
					top: 6.2%;
					width: 80.7%;
					height: 82.5%;
				}
			}
		}
	}
}

// Main Section
.main-container-landing {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 7rem auto 0;
	width: 95%;
	max-width: 1440px;

	@media (max-width: 900px) {
		align-items: center;
	}

	@media (max-width: 610px) {
		flex-direction: column;
	}

	> section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;

		@media (max-width: 610px) {
			align-items: center;
			text-align: center;
		}

		h2 {
			font-weight: normal;
			font-size: 4.9rem;
			line-height: 7rem;
			letter-spacing: -0.5px;
			color: $color-black;

			@media (max-width: 900px) {
				font-size: 4rem;
			}
		}

		h3 {
			font-weight: 300;
			font-size: 9rem;
			line-height: 98%;
			letter-spacing: -1.5px;
			color: $color-primary-nav;

			@media (max-width: 900px) {
				font-size: 4rem;
			}
		}

		p {
			font-size: 1.8rem;
			line-height: 2.8rem;
			width: 75%;
			letter-spacing: 0.5px;
			color: $color-gray-light;
			margin-top: 20px;
		}

		button {
			background: $color-primary;
			color: $color-white;
			border-radius: 8px;
			border: 0;
			font-size: 2rem;
			line-height: 2.4rem;
			padding: 7px 40px;
			margin-top: 20px;
			cursor: pointer;
		}
	}

	img {
		width: 40%;

		@media (max-width: 900px) {
			width: 30%;
			height: 300px;
			object-fit: cover;
		}

		@media (max-width: 610px) {
			width: 80%;
			margin: 30px 0 0;
			flex-direction: column;
		}
	}
}

// list of features Section
.list-of-features-container {
	margin: 15rem auto 0;
	width: 95%;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 5.7rem;
		line-height: 7rem;
		letter-spacing: -0.5px;
		font-weight: normal;
		text-align: center;

		@media (max-width: 460px) {
			font-size: 4rem;
		}
	}

	> section {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 50px 0 0;

		> section {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 30%;
			height: 150px;
			margin-bottom: 50px;

			@media (max-width: 900px) {
				width: 48%;
			}

			@media (max-width: 530px) {
				width: 100%;
			}

			> img {
				width: 40%;
				margin: 0 10px;
			}

			> div {
				margin-left: 20px;
				h3 {
					color: $color-primary-nav;
					font-weight: 500;
					font-size: 2.4rem;
					line-height: 2.8rem;
					letter-spacing: 0.15px;
				}

				p {
					color: rgba(0, 13, 34, 0.7);
					font-size: 1.6rem;
					line-height: 1.9rem;
					letter-spacing: 0.15px;
					width: 90%;
				}
			}
		}
	}
}

// Why Kansha section

.container-why-kansha {
	width: 95%;
	max-width: 1440px;
	margin: 50px auto 100px;
	height: 20%;
	padding: 7% 0;

	@media (max-width: 600px) {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h2 {
		font-size: 4.8rem;
		font-weight: normal;
		margin-bottom: 3%;
	}

	p {
		font-size: 2.1rem;
		color: $color-gray-light;
		line-height: 144.9%;
		width: 70%;
		letter-spacing: 0.25px;

		@media (max-width: 900px) {
			width: 90%;
		}
	}
}

.container-results {
	width: 95%;
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding-top: 5rem;

	@media (max-width: 500px) {
		text-align: center;
	}

	h2 {
		font-size: 4.8rem;
		line-height: 5.8rem;
		font-weight: normal;

		span {
			font-size: 6.4rem;
			font-style: italic;
			font-weight: semibold;
			color: $color-primary;
		}
	}

	h3 {
		font-size: 3.4rem;
		font-weight: normal;
		line-height: 4.1rem;
		color: rgba(0, 13, 34, 0.7);
		padding-left: 1%;
	}

	ul {
		display: flex;
		justify-content: space-evenly;
		margin-top: 5rem;
		margin-bottom: 5rem;

		@media (max-width: 500px) {
			flex-direction: column;
		}

		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 25%;
			align-content: center;
			min-height: 430px;

			@media (max-width: 500px) {
				width: 100%;
				margin-bottom: 20px;
			}

			img {
				width: 100%;
			}

			p {
				font-size: 2.2rem;
				line-height: 144.1%;
				letter-spacing: 0.18195px;
				color: $color-primary-nav;
				margin-top: 15px;
			}
		}
	}
}

// Enter Email Section
.container-enter-email {
	width: 80%;
	margin: 75px auto;
	max-width: 1440px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 30px;
	border-radius: 8px;
	// box-shadow: 2px 2px 2px rgba(15, 15, 51, 0.5),
	// 	-2px -2px 2px rgba(15, 15, 51, 0.5);
	background: $color-white-dark;
	// @media (max-width: 750px) {
	// 	box-shadow: none;
	// 	background: $color-white-dark;
	// }

	label {
		position: absolute;
		left: -99999px;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}

	input {
		border: 0;
		margin: 0;
		border-radius: 0;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		width: 80%;
		height: 50px;
		background: $color-white;
		color: $color-black;

		&::placeholder {
			color: rgba(0, 13, 34, 0.7);
			letter-spacing: 0.25px;
			font-size: 1.4rem;
			line-height: 2rem;
		}

		@media (max-width: 750px) {
			display: none;
		}
	}

	span {
		border: 0;
		border-radius: 4px;
		background: $color-primary;
		color: $color-white;
		font-size: 2rem;
		font-weight: 500;
		line-height: 2.4rem;
		letter-spacing: 0.15px;
		height: 50px;
		width: 15%;
		text-align: center;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 1250px) {
			width: 200px;
		}
	}
}

.about-us-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	main {
		.labs-21-section,
		.labs-19-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.labs-21-team-lead {
				text-align: center;
			}
			h2 {
				text-align: left;
				font-size: 6rem;
				margin-top: 3rem;
			}
			.labs-21-team,
			.labs-19-team {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
			}

			.team-member-profile {
				text-align: center;
			}
		}
	}
}

.labs-21-section {
	margin-bottom: 10rem;
}

.aboutUs-picture {
	width: 30rem;
	border-radius: 50%;
	margin: 2rem;
}

.landing-logo-left {
	position: absolute;
	top: 1rem;
	left: 1.5rem;
}

.nav-login-button {
	position: absolute;
	top: 0rem;
	right: 4rem;
}
