// layout of the profile and peer profile page
.container-entire-profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: $color-white;
	color: $color-black;
	padding: 2rem 0;
	height: 100vh;
	margin: 0 8rem;

	.my-team-members {
		width: 100%;
		min-height: 30rem;
		margin: 0;

		.teams-dashboard {
			margin: 0;
			overflow-y: scroll;
		}
	}

	.main-container-badges {
		width: 45%;
		height: 50%;
		margin-left: 3rem;

		.badges-title-container {
			display: flex;
			color: $color-primary;

			h1 {
				font-size: 3rem;
				margin-left: 2rem;
				font-weight: 500;
			}
			h2 {
				font-size: 2rem;
				margin-left: 2rem;
				padding: 0.8rem;
				@include boxshadow();
				border-radius: 229px;
				width: 5rem;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.profile-badges {
			width: 100%;
			ul {
				display: flex;
				width: 100%;
				padding: 2rem 0;
				flex-wrap: wrap;

				height: 36rem;
				overflow-y: scroll;
			}
		}
	}
}

// // // activity section of the page
// .activity-card {

// }

// .container-entire-profile {
// 	.title-activity-card {

// 	}
// 	.profile-activity-card {
// 		display: flex;
// 		flex-direction: column;
// 		justify-content: flex-start;
// 		align-items: center;
// 		height: 90%;
// 		overflow-x: hidden;
// 		overflow: auto;

// 		.profile-activity {
// 			width: 100%;
// 		}
// 		.inner-activity-card {
// 			width: 100%;

// 			.container-card-and-buttons {
// 				width: 100%;

// 				.container-recognition-card {
// 					display: flex;
// 					justify-content: flex-start;
// 					align-items: center;
// 					width: 100%;

// 					padding: 10px;

// 					.activity-badge {
// 						width: 50px;
// 						display: flex;
// 						align-items: flex-end;
// 					}

// 					img {
// 						width: 40px;
// 						border-radius: 50%;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.container-entire-profile {
	.activity-card {
		width: 45%;
		height: 50%;
	}
	.title-activity-card {
		font-weight: 500;
		font-size: 3rem;
		color: $color-primary;
	}
	#profile-activity-card {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 90%;
		overflow-x: hidden;
		overflow: auto;
	}
}

#root
	.container-entire-profile
	.activity-card
	#profile-activity-card
	.profile-activity {
	width: 100%;
}

.profile-main {
	display: flex;
	width: 100%;
	margin-top: 2rem;
	justify-content: space-between;
}
