// layout of the profile and peer profile page
.container-entire-profile {
	display: flex;
	justify-content: space-between;
	background-color: $color-white;
	color: $color-black;
	padding: 2rem 0;
	height: 100vh;
	margin: 0 8rem;

	.container-profile-card-and-badges {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 45%;

		.container-profile-card {
			height: 45%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 20px;
			margin-bottom: 50px;
			background-color: $color-white-dark;
			@include boxshadow();

			img {
				height: 50%;
				border-radius: 50%;
			}

			.profile-name-info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h5 {
					font-size: 2.5rem;
					margin: 3% 0;
				}

				p {
					margin: 1% 0;
					font-size: 2.2rem;
				}
			}
		}
	}
	.container-badges {
		background-color: $color-white-dark;
		padding: 2rem 0 2rem 2rem;
		@include boxshadow();

		.title-badges {
			font-size: 2.4rem;
			font-weight: 500;
		}

		ul {
			display: flex;
			width: 100%;
			padding: 2rem 0;
			overflow-y: auto;
		}
	}
}

// activity section of the page
.activity-card {
	width: 45%;
	background-color: $color-white-dark;
	margin-left: 1.6rem;
	padding: 3rem;
	height: 100%;
	@include boxshadow();

	.title-activity-card {
		font-weight: 500;
		font-size: 2.4rem;
		padding: 2rem;
	}
	.inner-activity-card {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 90%;
		overflow-x: hidden;
		overflow-y: auto;

		.container-recognition-card {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 95%;
			margin-bottom: 15px;
			padding: 10px;

			@include boxshadow();

			> section {
				position: relative;
				width: 90%;
				margin-left: 10px;

				a {
					color: $color-primary;
				}

				svg {
					position: absolute;
					right: 5px;
					top: 5px;
					cursor: pointer;
				}
				p {
					padding-top: 10px;
					word-break: break-all;
				}
			}

			img {
				width: 40px;
				border-radius: 50%;
			}
		}
	}
}
