.reports {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 1rem;
	.container-total-recog-graph {
		width: 45%;

		.analytics-title {
			font-weight: 900;
			font-size: 2.4rem;
			height: 4.2rem;
			width: 30rem;
		}
	}
	.container-leaderboard {
		width: 45%;
		margin-left: 1%;
	}
	.container-time-dropdown {
		// width: 45%;

		.custom-select {
			width: 21.4rem;
			border: none;
			margin: 0;
			font-weight: 600;

			.select-selected {
				color: $color-black;
				font-style: normal;
				display: flex;
				// align-items: center;
				font-size: 2.2rem;
				font-weight: 900;
				padding: 0;
				// margin-right: 100px;
				height: 100%;
				width: 100%;
				position: relative;

				&:after {
					border: none;
					content: '\2228';
					color: $color-black;
					font-size: 2rem;
					font-weight: 100;
					top: 0;
					right: -5rem;
					transition: 0.5s ease;
					width: 50px;
					height: fit-content;
				}
			}

			.select-selected.select-arrow-active:after {
				transform: rotateX(180deg);
			}

			.placeholder-div {
				color: $color-black;
				font-style: normal;
				display: flex;
				align-items: center;
				font-size: 2.2rem;
				font-weight: 900;
				padding-top: 0;
				height: 100%;
				width: 100%;
			}

			.select-items {
				width: 21.5rem;

				> div {
					padding: 5px;
					height: 3rem;
					font-size: 2rem;
				}
			}
		}

		.dropdown-time-div {
			.dropdown-time {
				background-color: #fff;
				border: none;
				font-weight: bold;
				color: black;
				font-size: 2.4rem;
				width: 28rem;
			}
		}
	}
}
