.user-upload-container-outter {
	margin-left: 10rem;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	.user-upload-container {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 40px;
		background: $color-white-dark;
		width: 700px;
		@include boxshadow();

		.user-upload-title {
			font-size: $large;
			line-height: 5.8rem;
			padding-bottom: 7rem;
		}
		h6 {
			text-align: center;
			margin-bottom: 2rem;
			margin-top: -3rem;
		}
		.icon-div {
			display: flex;
			justify-content: center;
			padding: 0.8rem;

			.user-link {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
			}

			h2 {
				font-size: 2rem;
				padding: 0.8rem;
			}
			#user-icon {
				font-size: 5rem;
				color: $color-secondary;
				&:hover {
					color: $color-primary;
				}
			}
			#users-icon {
				font-size: 5rem;
				color: $color-secondary;
				cursor:pointer &:hover {
					color: $color-primary;
				}
			}
		}
		.user-upload-buttons {
			margin: 2rem 0rem 2rem 0rem;
			background-color: $color-secondary;
			width: 13rem;
			padding: 10px;
			color: $color-white;
			border-radius: 8px;

			&:hover {
				background-color: $color-primary;
			}
		}
	}
}
