.workspace {
	display: flex;
	.workspace-container {	
		margin-left: 8rem;
		width: 100%;
		
	.workspace-search-div {
		display: flex;
		justify-content: flex-end;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 20px 0;

		h1 {
			font-size: 3.6rem;
		}

		.workplace-search-bar input {
			width: 30rem;
			border: none;
			@include boxshadow();
		}
	}

	.workspace-card-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		min-height: min-content;

		// margin-top: 3rem;

		.workspace-card {	
			height: 20rem;
			text-align: center;
			margin-right: 5rem;
			width: 25.2rem;
			height: 33rem;
			margin-bottom: 5rem;
			border-radius: 0.1rem;
			@include boxshadow();
			display:flex;
			flex-direction: column;
			justify-content:space-between;

			h5 {
				margin: 0;
			}
			
			.user-info-container {
				height: 7rem;
			}
			
			.workspace-profile-icons {
				display: flex;
				justify-content: space-evenly;
				margin-bottom: 10px;
				

				.send-recog-btn {
					border: none;
					cursor: pointer;
				}
				img {
					filter:invert(100%);
					&:hover {
						border-radius: 100%;
						border: none;
						
					}
				}
			}

			.workspace-card-image {
				width: 10rem;
				height: 10rem;
				border-radius: 100%;
				margin-top: 2rem;
				margin-bottom: 0.8rem;
			}
		}
	}
}
}
