#App .container-feed-card-and-comments {
	display: flex;
}

.container-feed-card {
	background-color: $color-white-dark;
	margin-left: 8rem;
	@include boxshadow();
	
}

.feed-card-top {
	display: flex;
	align-items: center;
}
