.landing-page {
	background-color: $color-white-dark;
	min-height: 100%;
	width: 100%;

	.did-you-know {
		display: flex;
		flex-direction: row;

		.dyk-left-div {
			width: 40vw;
			display: flex;
			flex-direction: column;

			h1 {
				font-size: 10rem;
			}
		}

		.dyk-right-div {
			width: 40vw;
		}
	}
}

// Main Section
.main-container-landing {
	display: flex;
	justify-content: space-between;
	margin-top: 7rem;
	align-items: center;
	min-height: 100%;

	.main-cta {
		width: 50%;
		display: flex;
		flex-direction: column;
		padding-left: 4rem;

		.header-main-cta {
			font-size: 6rem;
			width: 62rem;
			color: $color-black;
			line-height: 7.2rem;
		}

		.header-secondary-cta {
			font-size: 9.6rem;
			font-weight: 300;
			width: 42.5rem;
			color: $color-black;
		}

		.text-main-cta {
			width: 46rem;
			font-size: 1.8rem;
			line-height: 2.8rem;
			font-size: $default-font-size;
			color: $color-gray-dark;
			padding: 1.8rem 0rem;
			margin-bottom: 1.5rem;
		}

		.btn-get-started {
			font-size: 2rem;
			line-height: 2.4rem;
			font-weight: 500;
		}
	}

	.main-img {
		width: 43%;
		display: flex;

		padding: 4rem;
		img {
			width: 54rem;
		}
	}
}

// list of features Section
.list-of-features-container {
	min-height: 100%;
	width: 100%;
	margin-top: 1rem;
	background-color: $color-white;
	padding-top: 5rem;
	padding-bottom: 5rem;

	.header-list-of-features {
		font-size: 6rem;
		text-align: center;
		line-height: 7.2rem;
		font-weight: normal;
		letter-spacing: -0.5px;
	}

	.features-list-of-features {
		font-size: $small;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 5rem;
		width: 100%;
		padding: 2rem;
		align-items: center;
		justify-content: center;

		.feature-list-of-features {
			width: 26%;
			height: 8rem;
			margin: 4rem;

			.feature-text-and-image {
				display: flex;
				align-items: center;

				// img {
				// 	padding: 1rem;
				// }
				.text-container-list-of-features {
					padding: 1rem;
					.title-feature-list-of-features {
						font-size: 2.4rem;
					}

					.text-feature-list-of-features {
						font-size: 1.6rem;
						width: 19rem;
						color: $color-gray-light;
					}
				}
			}
		}
	}
}

// Why Kansha section

.container-why-kansha {
	height: 20%;
	background-color: $color-white;
	padding-left: 49px;
	padding-top: 7%;
	padding-bottom: 7%;

	.why-kansha {
		font-size: 3rem;
		margin-bottom: 3%;
	}
	.kansha-info {
		font-size: 2.1rem;
		color: $color-gray-light;
		line-height: 144.9%;
		width: 50%;
		letter-spacing: 0.25px;
	}
}

.container-results {
	display: flex;
	flex-direction: column;
	padding-top: 5rem;

	h1 {
		font-size: 4.8rem;
		padding: 1rem;
		margin-left: 3rem;
		font-weight: normal;

		span {
			font-size: 6.4rem;
			font-style: italic;
			font-weight: 300;
		}
	}

	h3 {
		font-size: 3.4rem;
		padding: 1rem;
		margin-left: 3rem;
	}

	.container-results-box {
		display: flex;
		justify-content: space-evenly;
		margin-top: 5rem;
		margin-bottom: 5rem;

		.results-box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 15rem;
			height: 15rem;
			align-content: center;
			@include boxshadow();

			p {
				width: 80%;
				font-size: 2.4;
			}
		}
	}
}

// Enter Email Section
.container-enter-email {
	display: flex;
	justify-content: center;
	height: 45rem;
	background-color: white;
	padding-bottom: 20rem;

	.enter-email {
		width: 85%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.email-form {
			width: 80%;
			padding: 2.5rem;
			border: 1px black solid;
			border-radius: 1rem;
			@include boxshadow();

			.email-input {
				width: 90%;
			}
		}
	}
}
