.landing-page {
	padding: 2rem;
	background-color: $color-white-dark;
	min-height: 100%;
	width: 100%;
}

// Main Section
.main-container-landing {
	display: flex;
	justify-content: space-evenly;
	margin-top: 7rem;
	align-items: center;
	min-height: 100%;

	.main-cta {
		min-height: 100%;
		.header-main-cta {
			font-weight: 600;
			font-size: 3.6rem;
			width: 45rem;
			color: $color-black;
		}

		.text-main-cta {
			width: 45rem;
			font-size: $default-font-size;
			color: $color-gray-dark;
			margin-bottom: 1.5rem;
		}
	}

	.main-img {
		img {
			width: 42rem;
		}
	}
}

// Why Kansha Section
.why-kansha-container {
	min-height: 100%;
	font-weight: 600;
	width: 100%;
	margin-top: 1rem;

	.header-why-kansha {
		font-size: 3.6rem;
		text-align: center;
	}

	.features-why-kansha {
		font-size: $small;
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		max-width: 65vw;
		align-items: center;
		justify-content: center;

		.feature-why-kansha {
			width: 20rem;
			height: 8rem;
			margin: 6rem;
		}
	}
}

// text boxes inside Why Kansha Features sections
.text-container-why-kansha {
	.title-feature-why-kansha {
		font-size: 2.4rem;
	}

	.text-feature-why-kansha {
		font-size: 1.6rem;
	}
}
