#App .container-entire-profile {
	display: flex;
	justify-content: space-evenly;
	border: 2px solid green;
	background-color: $color-white-cement;
	color: $color-black;
	padding: 2rem 2rem 2rem 0;
	// background-color: $color-gray-dark;
	// color: $color-white;

	.container-profile-card-and-badges {
		border: 2px solid pink;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		.container-profile-card {
			border: 2px solid red;
			height: 60vh;
			width: 45vw;
			background-color: $color-white;
			display: flex;
			justify-content: center;
			align-items: center;

			.profile-info {
				height: 50vh;
				width: 50vh;
				display: flex;
				justify-content: space-evenly;
				flex-direction: column;
				align-items: center;

				.profile-image {
					display: flex;
					justify-content: center;
					.profilepic {
						height: 30vh;
						border-radius: 50%;
					}
				}

				.profile-name-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.profile-user-name {
						font-size: 2.5rem;
					}

					.profile-user-info {
						font-size: 2.2rem;
					}
				}
			}
		}
	}
	.container-badges {
		border: 2px solid orange;
		height: 30vh;
		background-color: $color-white;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}

.activity-card {
	border: 2px solid yellow;
	width: 45vw;
	background-color: $color-white;

	padding: 3rem;
	.title-activity-card {
		font-weight: 500;
		font-size: 2.4rem;
		padding: 2rem;
	}
	.inner-activity-card {
		border: 2px solid darkblue;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 2rem;
	}
}

// .container-recognition-card-admin {
// 	border: 2px solid dodgerblue;
// }

// .container-recognition-card-user {
// 	border: 2px solid limegreen;
// }
.container-recognition-card {
	border: 2px solid white;
	display: flex;
}

.badge-recognition-card {
	width: 10rem;
}

.recognition-profile-pic {
	width: 10rem;
}

.badge-profile {
	width: 20rem;
}
