// this cointains the .container-entire-profile. it's so that the sidebar is displayed to the left
.profile-main-cont {
	display: flex;
}

// layout of the profile and peer profile page
#App .container-entire-profile {
	display: flex;
	justify-content: space-evenly;

	background-color: $color-white-cement;
	color: $color-black;
	padding: 2rem 2rem 2rem 0;

	.container-profile-card-and-badges {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		margin-left: 1.6rem;
		.container-profile-card {
			height: 60vh;
			width: 45vw;
			background-color: $color-white;
			display: flex;
			justify-content: center;
			align-items: center;

			.profile-info {
				height: 50vh;
				width: 50vh;
				display: flex;
				justify-content: space-evenly;
				flex-direction: column;
				align-items: center;

				.profile-image {
					display: flex;
					justify-content: center;
					.profilepic {
						height: 30vh;
						border-radius: 50%;
					}
				}

				.profile-name-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					.profile-user-name {
						font-size: 2.5rem;
					}

					.profile-user-info {
						font-size: 2.2rem;
					}
				}
			}
		}
	}
	.container-badges {
		height: 30vh;
		background-color: $color-white;
		padding: 2rem;

		.title-badges {
			font-size: 2.4rem;
			font-weight: 500;
		}
	}
}

// activity section of the page
.activity-card {
	width: 45vw;
	background-color: $color-white;
	margin-left: 1.6rem;
	padding: 3rem;
	.title-activity-card {
		font-weight: 500;
		font-size: 2.4rem;
		padding: 2rem;
	}
	.inner-activity-card {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 2rem;
	}
}

.container-recognition-card {
	display: flex;
}

.badge-recognition-card {
	width: 10rem;
}
