.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 15%;

	a {
		margin: 2rem;
		font-size: 1.8rem;
		color: $color-white;

		&:hover {
			color: $color-secondary;
		}
	}
}
