.reaction-button {
	display: flex;
	justify-content: space-between;
	background-color: $color-gray-dark;
	padding: 2px 8px;
	border-radius: 3rem;
	width: 6rem;
	margin-left: 1rem;
}

.icon-reacted {
	color: $color-primary;
	height: 22px;
	margin: 0;
	padding: 0;
}

.icon-non-reacted {
	color: $color-white;
	height: 2.2rem;
	margin: 0;
	padding: 0;
}

.count {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: 0.1px;
	color: $color-gray-light;
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-top: 1px;
}
