.feed-card {
	box-sizing: border-box;
	justify-content: flex-start;
	max-width: 100%;
	display: flex;
	padding: 20px;
	color: #ffffff;
	background: #2d2c35;
	margin: 10px 10px;

	&:first-child {
		margin-top: 0px;
	}
	&:last-child {
		margin-bottom: 0px;
	}
}

.feed-card-active {
	background: #34323e;
}

.feed-card-picture {
	box-sizing: border-box;
	position: relative;
	width: 100px;
	padding: 0;
}

.feed-card-content {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 100px);
	word-wrap: break-word;
}

.button-box {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.comment-button {
	display: flex;
	justify-content: space-between;
	background-color: rgba(80, 80, 80, 0.21);
	padding: 2px 8px;
	border-radius: 30px;
	width: 60px;
}

.comment-icon {
	box-sizing: border-box;
	color: #ffffff;
	height: 22px;
	margin: 0;
	padding: 0;
}

.count {
	box-sizing: border-box;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	align-items: center;
	letter-spacing: 0.1px;
	color: rgba(255, 255, 255, 0.7);
	margin: 0;
	padding: 0;
	padding-left: 5px;
	padding-top: 1px;
}

.name {
	box-sizing: border-box;
	color: #ee4d71;
	text-decoration: none;
	&:visited {
		color: #ee4d71;
	}
}
.profile-pic {
	box-sizing: border-box;
	position: absolute;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	background: linear-gradient(135deg, #ee4d71 0%, #f15a3f 100%);
	object-fit: cover;
	object-position: 50% 50%;
}

.sent-profile-pic {
	left: 15px;
}

.received-profile-pic {
	right: 15px;
}

.info {
	box-sizing: border-box;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 15px;
	position: relative;
}

.time-stamp {
	/* Body */
	box-sizing: border-box;
	font-style: normal;
	font-size: 16px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.5);
	margin-left: 10px;
}

.feed-badge-box {
	padding-top: 1rem;
	margin-bottom: -30px;
}

.feed-badge-img {
	width: 17%;
}
.message {
	margin-top: 5px;
}
