.send-comments-container {
	width: 100%;
	margin: 0;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	background: $color-gray-dark;
}

.send-comments {
	box-sizing: border-box;
	display: flex;
	justify-content: stretch;
	align-items: center;
	padding: 10px;
	border: 1px solid $color-gray;
	border-radius: 8px;
}
.send-comment-input {
	width: calc(100% - 60px);
	color: $color-white;
	& :placeholder {
		font-style: normal;
		font-weight: 300;
		font-size: 1.6rem;
		line-height: 2rem;
		color: $color-gray-light;
	}
}
.send-comment-button {
	width: 6rem;
	background: $color-gray-dark;
	border-radius: 3px;
	font-style: normal;
	font-weight: normal;
	font-size: 1.3rem;
	line-height: 1.6rem;
	text-align: center;
	color: $color-white;
	border: none;
	padding: 4px 0;
	cursor: pointer;
}
