/** FOOTER COMPONENT STYLING **/
.root {
  font-size: 16px;
  color: #fff;
  background-color: #26242d;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-family: "montserrat";
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 15px 0;
  color: #fff;
}

.kansha {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.small {
  margin: 15px 0;
  text-align: center;
  font-family: montserrat;
}

.paperContainer {
  display: "flex";
}

.headerContainer {
  display: "flex";
  flex-direction: "row";
  margin: "0";
}

.heading {
  padding-top: 9.6rem;
  display: flex;
}

.hero {
  display: flex;
  flex-direction: row;
  margin: "0";
  justify-content: "center";
}

.info {
  flex-direction: "column";
  margin: 7% 5% 0 0;
  align-items: center;
}

.margin {
  font-size: 15px;
  margin: 0 2%;
  background: #26242d;
  box-shadow: none;
  border: 2px solid #ee4d71;
  font-family: montserrat;
  color: #ee4d71;
}
.margin:hover {
  background: linear-gradient(172.54deg, #ee4d71 0%, #f15a3f 100%);
  color: #fff;
}

.signButton {
  margin: 0;
}

input {
  display: none;
}

.headingFont {
  font-size: 2.5rem;
  margin: 0 auto;
  align-items: center;
}

img {
  display: flex;
  justify-content: center;
  width: 420.79px;
  height: 394.79px;
  margin: 0 0 0 5%;
}

desc {
  padding-margin: 5% 0 5% 0;
  padding-font-size: 16px;
  padding-width: 100%;
  padding-text-align: left;
  padding-padding: 0;
  padding-fontfamily: montserrat;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav a {
  font-size: 16px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}
nav a img {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
}

/** WHY KANSHA COMPONENT STYLING **/
/*const useStyles = makeStyles(theme => ({
    root: {
        display: 'flex',
        flexDirection: 'column',
        backgroundColor: '#26242D'
    },
    paper: {
        [theme.breakpoints.down('sm')]: {
            backgroundColor: '#26242D',
            display: 'flex',
            flexDirection: 'column',
            alignItems: 'center'
        },
        [theme.breakpoints.up('md')]: {
            backgroundColor: '#26242D',
            display: 'flex',
            flexDirection: 'row',
            flexWrap: 'wrap'
        },
        [theme.breakpoints.up('lg')]: {
            backgroundColor: '#26242D',
            display: 'flex',
            flexDirection: 'row',
            flexWrap: 'wrap'           
        }
    },
    ourTeam: {
        display: 'flex',
        justifyContent: 'center',
        fontSize: '36px',
        marginBottom: '5%'
    },

    grid: {
        [theme.breakpoints.down('sm')]: {
            width: '50%',
            margin: '2%'
        },
        [theme.breakpoints.up('md')]: {
            width: '20%',
            margin: '2%'
        },
        [theme.breakpoints.up('lg')]: {
            width: '20%',
            margin: '2%'
        }
    },

    bottomRow: {
        [theme.breakpoints.down('sm')]: {
            width: '50%',
            margin: '2%'
        },
        [theme.breakpoints.up('md')]: {
            width: '20%',
            margin: '2% 2% 2% 27%'
        },
        [theme.breakpoints.up('lg')]: {
            width: '20%',
            margin: '2% 2% 2% 27%'
        }
    },
    iconBox: {
        width: '50%',
        flexDirection: 'row',
        display: 'flex',
        marginLeft: '30%'
    },

    iconItem: {
        width: '100%'
    },
    icons: {
        width: '80%'
    },
    profilePic: {
        width: '100%',
        margin: '2% 2% 0 2%'

    },
    pic: {
        width: '100%'
    }
}))
 */

/*# sourceMappingURL=index.css.map */
